.godot/
.DS_Store
.import/
export.cfg
export_presets.cfg
*.translation
*.tmp
*.log
deepseek.local.cfg
node_modules/
dist/
godot-headless.log
godot-import.log
tools/godot-mcp/
.idea
assets/opengameart/spells/Pixelart Spells/
builds/
*.gd.uid
*.gdextension.uid


# Added by cargo

/target
